/*
    blue: #256EFF
    red: ED254E
    yellow: F9DC5C
    white: F4FFFD
    dark blue: 011936
*/

* {
    -fx-background-color: transparent;
    -fx-text-fill: #F4FFFD;
    -fx-font-family: "Upheaval TT (BRK)";
    -fx-font-size: 14px;
    -fx-fill-height: true;
    -fx-fill-width: true;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-background-size: cover;
}

.dark-blue-bg {
    -fx-background-color: #011936;
}

.transparent {
    -fx-background-color: transparent;
}

.button {
    -fx-background-color: #256EFF;
    -fx-text-fill: #F4FFFD;
    -fx-font-family: "VCR OSD MONO";
    -fx-font-size: 14px;
}

.button:hover {
    -fx-background-color: #ED254E;
    -fx-cursor: hand;
}

.main-menu-box {
    -fx-background-color: #011936;
    -fx-padding: 20px;
    -fx-border-color: #ED254E;
    -fx-border-radius: 5px;
    -fx-border-width: 5px;
}

.map-selection-box {
    -fx-background-color: #011936;
    -fx-padding: 20px;
    -fx-border-color: #ED254E;
    -fx-border-radius: 5px;
    -fx-border-width: 2px;
}

.text-field {
    -fx-background-color: #000914;
    -fx-text-fill: #F4FFFD;
    -fx-border-color: #ED254E;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
}

.menu-button {
    -fx-background-color: #256EFF;
}

.menu-button:hover {
    -fx-background-color: #ED254E;
    -fx-cursor: hand;
}

.menu-item {
    -fx-background-color: #011936;
}

.menu-item:hover {
    -fx-background-color: #ED254E;
    -fx-cursor: hand;
}

.game-grid {
    -fx-background-color: #011936;
    -fx-border-color: #F9DC5C;
    -fx-border-radius: 5px;
    -fx-border-width: 15px;
}

.red-border {
    -fx-border-color: #ED254E;
}

.blue-border {
    -fx-border-color: #256EFF;
}

.possible-move-overlay {
    -fx-background-color: #ED254E;
    -fx-opacity: 0.2;
}

.label {
    -fx-background-color: #011936;
    -fx-padding: 5px;
}

.opaque-yellow {
    -fx-background-color: #F9DC5C;
    -fx-opacity: 0.7;
}

.arial-font {
    -fx-font-family: "Arial";
}