/*
    blue: #256EFF
    red: ED254E
    yellow: F9DC5C
    white: F4FFFD
    dark blue: 011936
*/

* {
    -fx-background-color: transparent;
    -fx-text-fill: #F4FFFD;
    -fx-font-size: 14px;
    -fx-fill-height: true;
    -fx-fill-width: true;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-background-size: cover;
}

.dark-blue-bg {
    -fx-background-color: #011936;
}

.transparent {
    -fx-background-color: transparent;
}

.button {
    -fx-font-family: "Upheaval TT (BRK)";
    -fx-background-color: #256EFF;
    -fx-text-fill: #F4FFFD;
    -fx-font-size: 14px;
}

.red-button {
    -fx-background-color: #ED254E;
}

.button:hover {
    -fx-text-fill: #000914;
    -fx-background-color: #F9DC5C;
    -fx-cursor: hand;
}

.main-menu-box {
    -fx-background-color: #011936;
    -fx-padding: 20px;
    -fx-border-color: #ED254E;
    -fx-border-radius: 5px;
    -fx-background-radius: 10px;
    -fx-border-width: 5px;
}

.map-selection-box {
    -fx-background-color: #011936;
    -fx-padding: 20px;
    -fx-border-color: #F9DC5C;
    -fx-border-radius: 5px;
    -fx-background-radius: 8px;
    -fx-border-width: 2px;
}

.text-field {
    -fx-background-color: #000914;
    -fx-text-fill: #F4FFFD;
    -fx-border-color: #ED254E;
    -fx-border-width: 1px;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
}

.menu-button {
    -fx-background-color: #F9DC5C;
}

.menu-button .label {
    -fx-border-color: #F9DC5C;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-background-radius: 8px;
}

.menu-button:hover {
    -fx-background-color: #ED254E;
    -fx-text-fill: #F4FFFD;
    -fx-cursor: hand;
}

.menu-item {
    -fx-background-color: #256EFF;
    -fx-background-radius: 5px;
    -fx-background-size: 1px;
    -fx-text-fill: #F4FFFD;
    -fx-border-width: 2px;
    -fx-border-color: #F9DC5C;
}

.menu-item .label {
    -fx-border-width: 0px;
    -fx-background-color: #256EFF;
    -fx-text-fill: #F4FFFD;
    -fx-font-family: "Arial";
    -fx-font-size: 14px;
}

.menu-item .label {
    -fx-background-color: #256EFF;
    -fx-background-radius: 5px;
    -fx-background-size: 1px;
    -fx-text-fill: #F4FFFD;
    -fx-font-family: "Arial";
    -fx-font-size: 14px;
}

.menu-item:hover {
    -fx-background-color: #ED254E;
    -fx-cursor: hand;
}

.menu-item:hover .label {
    -fx-background-color: #ED254E;
    -fx-cursor: hand;
}

.game-grid {
    -fx-background-color: #011936;
    -fx-border-color: #F9DC5C;
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
    -fx-border-width: 5px;
}

.red-border {
    -fx-border-color: #ED254E;
}

.blue-border {
    -fx-border-color: #256EFF;
}

.possible-move-overlay {
    -fx-background-color: #ED254E;
    -fx-opacity: 0.2;
}

.possible-merge-overlay {
    -fx-background-color: #F9DC5C;
    -fx-opacity: 0.2;
}

.label {
    -fx-background-color: #011936;
    -fx-padding: 5px;
}

.opaque-yellow {
    -fx-background-color: #F9DC5C;
    -fx-opacity: 0.7;
}

.arial-font {
    -fx-font-family: "Arial";
}

.regular-font {
    -fx-font-family: "Calibri";
}

.map-info-view {
    -fx-background-color: #e3d086;
    -fx-border-color: #8f814d;
    -fx-padding: 5px 10px 5px 10px;
    -fx-border-radius: 0px;
    -fx-spacing: 5px;
    -fx-border-width: 2px;
}

.player-action-box {
    -fx-background-color: #e3d086;
    -fx-border-color: #8f814d;
    -fx-padding: 10px 20px 10px 20px;
    -fx-border-radius: 0px;
    -fx-border-width: 2px;
}

.map-info-label {
    -fx-background-color: transparent;
    -fx-text-fill: #000914;
    -fx-padding: 5px;
}

.game-status-box {
    -fx-background-color: #e3d086;
    -fx-border-color: #8f814d;
    -fx-padding: 10px 20px 10px 20px;
    -fx-border-radius: 0px;
    -fx-border-width: 2px;
}

.game-status-label {
    -fx-background-color: transparent;
    -fx-text-fill: #000914;
    -fx-font-size: 24px;
    -fx-padding: 5px;
}

.red-bg {
    -fx-background-color: #ED254E;
    -fx-text-fill: #F4FFFD;
}

.blue-bg {
    -fx-background-color: #256EFF;
    -fx-text-fill: #F4FFFD;
}

.day-info-text {
    -fx-font-size: 9em;
    -fx-fill: #F9DC5C;
    -fx-font-family: "Upheaval TT (BRK)";
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.7), 50, 0.5, 0, 0);
}

.black-shadow {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.7), 10, 0.5, 0, 0); /* Shadow effect */
}

.white-shadow {
    -fx-effect: dropshadow(gaussian, rgba(180, 180, 180, 0.5), 10, 0.5, 0, 0); /* Shadow effect */
}

.black-stroke-border {
    -fx-stroke: black; /* Border color */
    -fx-stroke-width: 2; /* Border width */
    -fx-stroke-type: outside; /* Border position */
}

.image-border {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 1), 2, 1, 0, 0); /* Shadow effect */
}


.health-text {
    -fx-font-size: 18px;
}

.pixel-font {
    -fx-font-family: "Upheaval TT (BRK)";
}

.dialogue-pane {
    -fx-background-color: #011936;
    -fx-border-color: #F9DC5C;
    -fx-border-radius: 5px;
    -fx-background-radius: 8px;
    -fx-border-width: 5px;
    -fx-padding: 20px;
}

.dialogue-header {
    -fx-font-family: "Upheaval TT (BRK)";
    -fx-fill: #F4FFFD;
    -fx-font-size: 18px;
}

.dialogue-message {
    -fx-font-family: "Upheaval TT (BRK)";
    -fx-fill: #F4FFFD;
    -fx-font-size: 14px;
}

.yellow-background {
    -fx-background-color: #F9DC5C;
    -fx-text-fill: #000914;
}

.current-turn-label {
}

.current-player-label {
}

.game-over-buttons {
    -fx-background-color: #F9DC5C;
    -fx-text-fill: #000914;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-border-width: 2px;
    -fx-font-size: 28px;

}